*.bat          text eol=crlf
**/Dockerfile  linguist-vendored=true
**/*.sh        linguist-vendored=true
**/*.yml       linguist-vendored=true
**/*.txt       linguist-vendored=true
**/*.md        linguist-vendored=true
**/*.py        linguist-vendored=true
**/*.ipynb     linguist-vendored=true
**/*.csv       linguist-vendored=false
**/*.data      linguist-vendored=false
**/*.rda       linguist-vendored=false
**/*.rdata     linguist-vendored=false
**/*.json      linguist-vendored=false