*.bat          text eol=crlf
**/Dockerfile  linguist-detectable=true
**/*.sh        linguist-detectable=true
**/*.yml       linguist-detectable=true
**/*.txt       linguist-detectable=true
**/*.md        linguist-detectable=true
**/*.py        linguist-detectable=true
**/*.ipynb     linguist-detectable=true
**/*.csv       linguist-vendored
**/*.data      linguist-vendored
**/*.rda       linguist-vendored
**/*.rdata     linguist-vendored
**/*.json      linguist-vendored
**/*.asc       linguist-vendored
