**/Dockerfile  linguist-detectable=true
**/*.sh        linguist-detectable=true
**/*.yml       linguist-detectable=true
**/*.txt       linguist-detectable=true
**/*.md        linguist-detectable=true
**/*.py        linguist-detectable=true
**/*.ipynb     linguist-detectable=true
**/*.csv       linguist-vendored=true
**/*.data      linguist-vendored=true
**/*.rda       linguist-vendored=true
**/*.rdata     linguist-vendored=true
**/*.json      linguist-vendored=true
**/*.asc       linguist-vendored=true
Appendix/*.asc linguist-vendored=true