xgboost
colorama==0.4.4
pygam
setuptools
fastparquet
scikit-learn>=1.2.0
ray[tune]
rpy2
scipy
flaml
bayesian_optimization==1.4.0
gensim
threadpoolctl>2.2.0
lightgbm
nevergrad
optuna
func-timeout
mlflow
ray<2.0.0
tensorboardX
hyperopt
redis
pandas
tqdm
numpy<1.24.0
cython
seaborn>=0.11.0
matplotlib
pyarrow
