ray<2.0.0
matplotlib
cython
seaborn>=0.11.0
tensorboardX
pyarrow
ray[tune]
redis
rpy2
tqdm
scikit-learn>=1.2.0
gensim
hyperopt
scipy
setuptools
torch
fastparquet
threadpoolctl>2.2.0
pandas
numpy<1.24.0
