scikit-learn>=1.2.0
hyperopt
threadpoolctl>2.2.0
ray[tune]
setuptools
pandas
pyarrow
gensim
numpy<1.24.0
torch
tensorboardX
rpy2
redis
tqdm
fastparquet
seaborn>=0.11.0
matplotlib
cython
ray<2.0.0
scipy
