hyperopt
matplotlib
seaborn>=0.11.0
cython
fastparquet
rpy2
pyarrow
numpy<1.24.0
pandas
tensorboardX
ray[tune]
scikit-learn>=1.2.0
tqdm
redis
threadpoolctl>2.2.0
ray<2.0.0
gensim
scipy
setuptools
torch
