fastparquet
redis
optuna
tensorboardX
flaml
xgboost
pygam
hyperopt
threadpoolctl>2.2.0
setuptools==59.5.0
numpy
seaborn>=0.11.0
lightgbm
gensim
scikit-learn>=1.1.0
ray[tune]
pandas
scipy
tqdm
pyarrow
matplotlib
cython
ray<2.0.0
nevergrad
rpy2
