optuna
colorama==0.4.4
ray[tune]
pandas
pyarrow
pygam
tqdm
fastparquet
cython
matplotlib
ray<2.0.0
gensim
tensorboardX
numpy<1.24.0
setuptools
lightgbm
flaml
rpy2
threadpoolctl>2.2.0
mlflow
xgboost
nevergrad
bayesian_optimization==1.4.0
seaborn>=0.11.0
scipy
hyperopt
scikit-learn>=1.1.0
redis
